footer {
  background-color: #27272e;
  padding: 15px 20px;

  p {
    background-color: #27272e;
    color: #ccc;
    font-size: 12px;
    max-width: 1160px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  footer {
    p {
      text-align: center;
    }
  }
}
