<mat-card class="time-card">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>hourglass_empty</mat-icon>
    </div>
    <mat-card-title>Time converter</mat-card-title>
    <mat-card-subtitle>Convert time zones</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form class="form" [formGroup]="timeConverterForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="col-12">
        <mat-label>Date / Time</mat-label>
        <input type="datetime-local" matInput required formControlName="fromTime" />
        <mat-icon matPrefix>access_time</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-12">
        <mat-label>From time zone</mat-label>
        <mat-select required [attr.matNativeControl]="isMobile ? '' : null" formControlName="fromZoneId">
          <mat-option
            *ngFor="let timeZone of timeZones"
            [value]="timeZone.id"
            >{{ timeZone.value }}
          </mat-option>
        </mat-select>
        <mat-icon matPrefix>edit_location_alt</mat-icon>
      </mat-form-field>
      <button mat-icon-button class="exchange-icon" (click)="exchangeValues();">
        <mat-icon>import_export</mat-icon>
      </button>
      <mat-form-field appearance="outline" class="col-12">
        <mat-label>To time zone</mat-label>
        <mat-select required [attr.matNativeControl]="isMobile ? '' : null" formControlName="toZoneId">
          <mat-option
            *ngFor="let timeZone of timeZones"
            [value]="timeZone.id"
            >{{ timeZone.value }}
          </mat-option>
        </mat-select>
        <mat-icon matPrefix>edit_location_alt</mat-icon>
      </mat-form-field>
      <button mat-flat-button class="submit-button" color="primary" type="submit" [disabled]="!timeConverterForm.valid">
        Convert <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </form>
  </mat-card-content>
  <mat-card-footer *ngIf="fromTimeZone && toTimeZone">
    <h3 class="mat-card-footer-note from">{{timeConverterForm.value.fromTimeFormatted}} {{fromTimeZone.abbreviation}} =</h3>
    <h2 class="mat-card-footer-note to">
      <span class="value">{{timeConverterForm.value.toTimeFormatted}}</span> {{toTimeZone.abbreviation}}
    </h2>
  </mat-card-footer>
</mat-card>
